

body
{
    height: 30000px;
}
/*start header*/
.container
{
    width: 1170px;
    margin: auto;
}
.clearfix
{
    clear: both;
}

.header .slider
{
    background-image: url('images/147.jpg');
    background-size: cover;
    background-color: #000;
    height: 750px;
}

.header .slider .intro
{
    padding-top: 200px;
    height: 600px;
    text-align: center;
    color: #565656;
}


.header .slider .intro h2
{
    margin: 0 auto;
    font-size: 50px;
    width: 600px;
    border-bottom: 4px solid #565656;
    border-top: 4px solid #565656;
    padding: 5px 0

}

.header .slider .intro button
{
    background: none;
    color: #565656;
    padding: 10px 20px;
    margin-top: 40px;
    font-size: 20px;
    border: 2px solid #000;
    font-weight: bold;
    
}




.header .navbar
{
    background-color: #252F31;
    color: #FFF;
    overflow: hidden;
}

.header .navbar h2
{
    float: left;
}

.header .navbar h2 span
{
    color: #2ecc71;
}

.header .navbar ul
{
    list-style: none;
    padding-left: 0;
  
    float: right;
    
}

.header .navbar ul li
{
    float: left;
    padding: 10px;
}

.header .navbar ul li a
{
    color: #FFF;
    text-decoration: none;
    
}
.header .navbar ul li a:hover{color: #30B576;}


/*end header*/

/*start features*/
.features
{
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 50px;
}

.features .feat
{
    float: left;
    width: 33%;
    height: 150px;

    
}

.features .feat h2
{
    color: #555;
}

.features .feat p
{
    line-height: 1.7;
    color: #888;
}

/* end features*/
/* start about-me */

.about-me
{
    background-color: #F2F2F2;
    overflow: hidden;
    height: 500 px;
    
}

.about-me .image
{
    width: 33%;
    float: left;
    height: 500;
    
    
}
.about-me .image img
{
    width: 95%;
    
}

.about-me .info
{
    width: 77%;

    
}

.about-me .info h2
{
    margin: 20px 0 20px 0px;
    color: #555;
    
}

.about-me .info > p
{
    margin: 0 0 10px 50px;

}
.about-me .info p
{
    line-height: 1.6;
    color: #666;
}


.about-me .info .hobbies
{
    overflow: hidden;
    margin: 40px 0 0 40px;
}

.about-me .info .hobbies h3 
{
    color: #555;
}



.about-me .info .hobbies .content
{
    float: left;
    min-height: 50px;
    overflow: hidden;
}

.about-me .info .hobbies .content h3 
{
    color: #555;
}

.about-me .info .hobbies .content .icon
{
    float: left;
    width: 15%;
    /* margin-right: 20px; */
}
.about-me .info .hobbies .content .icon img
{
    max-width: 60%;
    margin: 40px 10px 0 0;
}

.about-me .info .hobbies .content .text
{
   float: left;
    width: 35%;

}


/* end about-me */

/* start my skill */
.my-skills
{
    padding-bottom: 30px;
    padding-top: 30px;
    overflow: hidden;
    
    
}

.my-skills .skills , .my-skills .prefgress
{
    width: 50%;
    float: left;
}
/* end my-skill*/


/* start Resume*/
.Resume 
{
    background-color: #F2F2F2;
    text-align: center;
}
/* end Resume */

/* start  My Education */
.My-Education
{
    padding-bottom: 30px;
    padding-top: 30px;
    overflow: hidden;
    
}

.My-Education .main , .My-Education .exp
{
    width: 50%;
    float: left;
    padding-top: 20px;
}
/* end  My Education*/

/* start testiomeials*/
.testiomeials
{
    background-color: #F2F2F2;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}
/* end testiomeials */

/* start Portfolio*/


.Portfolio
{
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

.Portfolio .our-work
{
    overflow: hidden;
}

.Portfolio .our-work > div
{
    float: left;
    width: 33.33333%;
    margin-bottom: 15px;
}
.Portfolio .our-work > div img
{
    width: 95%;
    margin: 10px;
}

/* start Contact Me*/
.contact
{
    background-color: #252F31;
    overflow: hidden;
}
.contact h2 {color: #FFF;}
.contact p {color: #6A6E71;}

.contact .info

{
    width: 50%;
    float: left;
}

.contact .form
{
    width: 50%
}
















/* end Portfolio */













